
*{ margin: 0;}

body {
    background-color: #8FCA82;
    font-family: 'Courier New', Courier, monospace
}

header{
    background-color: #679B5B;
        display: grid;
    grid-template-columns: 3% 50% 47%;
}

.cabeçalho-menu{
    display: flex;
    align-items: center;
}