header{
    background-color: rgb(95, 85, 85);
    color: aqua;
}

.cabeçalho{
    display:inline-flex;
    align-items: center;
    padding: 10px 10px;
    margin: 0 0;

}

img{ 
    height: 100px;
}
