header{
    background-color: rgb(95, 85, 85);
    color: aqua;
}

.cabeçalho{
    display:flex;
    align-items: center;
    justify-content: space-around ;

}

img{ 
    width: 7%;
}

footer{
    background-color: black;
    color: aliceblue;
    display: flex;
    align-items: center;
}
.foto-equipe{
    width: 10%;
}